In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('stockData.csv')

In [6]:
dataTail = data.tail(5)

In [19]:
dataTail.replace(to_replace = 0,method='ffill')

,date,ABBV,ABT,ACN,ADBE,AIG,AMGN,AMT,AMZN,AVGO,...,UPS,USB,V,VZ,WBA,WFC,WMT,XOM,MSFT,AAPL
3878,2022-05-18,156.71,116.71,282.21,406.66,58.50,253.75,231.47,2191.05,593.98,...,180.00,49.50,200.71,50.68,42.53,44.18,123.13,94.23,0.00,143.15
3879,2022-05-19,153.15,114.90,279.59,411.52,60.00,246.07,233.36,2222.85,547.83,...,171.12,51.07,206.10,51.50,42.53,42.00,122.28,95.33,264.94,139.63
3880,2022-05-20,157.45,116.09,288.77,416.55,57.52,248.90,249.11,2191.01,548.69,...,177.56,50.85,203.31,50.66,41.44,43.74,122.80,95.69,264.94,139.91
3881,2022-05-23,154.59,119.01,288.63,414.34,57.85,253.07,259.94,2155.32,531.47,...,180.80,51.54,216.65,51.31,43.53,45.46,124.60,94.47,264.70,145.68
3882,2022-05-24,149.67,113.80,284.34,398.63,58.65,260.67,269.46,2180.00,531.40,...,181.76,51.15,211.11,50.94,42.28,43.59,130.15,96.90,266.95,141.02